body {
  background-color: #fff;
  font-family: 'Neue Haas Display', sans-serif;
  color: #131520;
  font-size: 16px;
  line-height: 1.5;
}

h1 {
  margin-top: 0em;
  margin-bottom: 0.5em;
  color: #131520;
  font-size: 3.75rem;
  line-height: 1.25;
  font-weight: 400;
}

h2 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  color: #131520;
  font-size: 3em;
  line-height: 1.25;
  font-weight: 400;
}

h3 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  color: #131520;
  font-size: 2.25rem;
  line-height: 1.25;
  font-weight: 400;
}

h4 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  color: #131520;
  font-size: 1.875rem;
  line-height: 1.25;
  font-weight: 400;
}

h5 {
  margin-top: 1em;
  margin-bottom: 0.75em;
  color: #131520;
  font-size: 1.5rem;
  line-height: 1.25;
  font-weight: 400;
}

h6 {
  margin-top: 1em;
  margin-bottom: 0.75em;
  color: #131520;
  font-size: 1.25rem;
  line-height: 1.25;
  font-weight: 500;
}

p {
  margin-bottom: 1em;
  font-size: 1.125em;
}

a {
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #131520;
}

img {
  display: inline-block;
  max-width: 100%;
}

.header {
  position: relative;
  padding-top: 0px;
  padding-bottom: 0px;
}

.section {
  position: relative;
  padding-top: 9vh;
  padding-bottom: 9vh;
}

.section.pb-0 {
  padding-bottom: 0vh;
}

.container {
  z-index: 1;
  width: 100%;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 32px;
  padding-left: 32px;
}

.text-caps {
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

.style-guide-title {
  position: relative;
  width: 336px;
  margin-right: 48px;
  padding: 24px;
  border-radius: 10px;
  background-color: #fdf2f2;
}

.btn {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 6px;
  padding: 8px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #131520;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}

.btn:hover {
  text-decoration: none;
}

.text-grey-900 {
  color: #131520;
}

.style-guide-content-item {
  margin-right: 12px;
  margin-bottom: 12px;
}

.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.sticky-top.sticky-heading {
  top: 24px;
}

.style-guide-content {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row.row-justify-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.row.style-guide-content-row {
  margin-bottom: 12px;
}

.row.row-split-content {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 64px;
  grid-row-gap: 48px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.row.mb-16 {
  margin-bottom: 16px;
}

.row.row-header {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 64px;
  grid-row-gap: 48px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.section-title {
  max-width: 768px;
  margin-right: auto;
  margin-bottom: 64px;
  margin-left: auto;
  text-align: center;
}

.content {
  max-width: 560px;
}

.link-no-underline {
  text-decoration: none;
}

.link-no-hover:hover {
  opacity: 1;
}

.mb-0 {
  margin-bottom: 0px;
}

.row-btns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: -6px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.btn-icon-l {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  margin-left: 0px;
}

.btn-2 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  margin: 6px;
  padding: 10px 16px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-color: #1757c2;
  border-radius: 6px;
  background-color: #1757c2;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}

.btn-2:hover {
  border-color: #5d89d4;
  background-color: #5d89d4;
  opacity: 1;
  color: #fff;
  text-decoration: none;
}

.btn-icon-r {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  height: 20px;
  margin-right: 0px;
  margin-bottom: 2px;
  margin-left: 8px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.display-2xl {
  margin-top: 0em;
  margin-bottom: 0.5em;
  color: #131520;
  font-size: 4.5rem;
  line-height: 1.25;
}

.display-2xl.mb-0 {
  margin-bottom: 0em;
}

.display-xl {
  margin-top: 0em;
  margin-bottom: 0.5em;
  color: #131520;
  font-size: 3.75rem;
  line-height: 1.25;
}

.display-xl.preload-text-top {
  margin-bottom: 0em;
}

.display-xl.preload-text-btm {
  margin-bottom: 0em;
}

.display-lg {
  margin-top: 0em;
  margin-bottom: 0.5em;
  color: #131520;
  font-size: 3rem;
  line-height: 1.25;
}

.display-md {
  margin-top: 0em;
  margin-bottom: 0.5em;
  color: #131520;
  font-size: 2.25rem;
  line-height: 1.25;
  font-weight: 400;
}

.display-sm {
  margin-top: 0em;
  margin-bottom: 0.5em;
  color: #131520;
  font-size: 1.875rem;
  line-height: 1.25;
}

.display-xs {
  margin-top: 0em;
  margin-bottom: 0.5em;
  color: #131520;
  font-size: 1.5rem;
  line-height: 1.25;
}

.text-xl {
  margin-top: 0rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.text-xl.header-text {
  margin-bottom: 64px;
}

.text-lg {
  margin-top: 0rem;
  font-size: 1.125rem;
  line-height: 1.5;
}

.text-md {
  margin-top: 0rem;
  font-size: 1rem;
  line-height: 1.5;
}

.text-sm {
  margin-top: 0rem;
  font-size: 0.875rem;
  line-height: 1.5;
}

.text-xs {
  margin-top: 0rem;
  font-size: 0.75rem;
  line-height: 1.5;
}

.text-normal {
  font-weight: 400;
}

.text-medium {
  font-weight: 500;
}

.text-medium.mb-32 {
  margin-bottom: 32px;
}

.navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 96px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #131520;
  text-decoration: none;
}

.logo-icon {
  width: 32px;
  height: 32px;
  margin-right: 8px;
  margin-bottom: 2px;
}

.hero-img {
  width: 100%;
}

.hero-img-content {
  position: relative;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.image-light-accent {
  position: absolute;
  left: -55%;
  top: auto;
  right: 0%;
  bottom: -55%;
  width: 170%;
  max-width: none;
  -webkit-transform: translate3d(0px, 0px, 40px);
  transform: translate3d(0px, 0px, 40px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.signature {
  height: 72px;
  margin-top: 2px;
}

.footer {
  position: relative;
  padding-top: 96px;
  padding-bottom: 48px;
}

.footer-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 72px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.page-wrap {
  overflow: hidden;
}

.preloader {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 9999;
  display: none;
  padding-bottom: 10vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ecedf3;
}

.preloader-text-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin-right: 5vw;
}

.preloader-text-wrap.btm {
  margin-right: 0vw;
  margin-left: 5vw;
}

.hero-image-wrap {
  overflow: hidden;
  border-radius: 50%;
}

.header-text-wrap {
  overflow: hidden;
}

.header-text-wrap.btm {
  margin-bottom: 24px;
}

.line {
  min-width: 232px;
}

.line-wrap {
  position: absolute;
  left: 20%;
  top: auto;
  right: 0%;
  bottom: -30%;
  width: 232px;
}

.preloader-line-wrap {
  position: relative;
}

.line-wrap-inner {
  overflow: hidden;
}

.footer-btm {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.mt-0 {
  margin-top: 0em;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

@media screen and (min-width: 1280px) {
  .row.row-split-content {
    grid-column-gap: 96px;
  }
}

@media screen and (max-width: 991px) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.25em;
  }

  h3 {
    font-size: 1.875rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  .style-guide-title {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 36px;
    padding: 24px;
  }

  .style-guide-content {
    max-width: 100%;
  }

  .row.style-guide-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .row.row-split-content {
    grid-column-gap: 32px;
  }

  .row.row-header {
    grid-column-gap: 48px;
  }

  .section-title.mb-0 {
    margin-bottom: 0px;
  }

  .btn-2 {
    margin: 4px;
  }

  .display-2xl {
    font-size: 3.75rem;
  }

  .display-xl {
    font-size: 3rem;
  }

  .display-lg {
    font-size: 2.25rem;
  }

  .display-md {
    font-size: 1.875rem;
  }

  .display-sm {
    font-size: 1.5rem;
  }

  .display-xs {
    font-size: 1.25rem;
  }

  .line {
    min-width: 200px;
  }

  .line-wrap {
    bottom: -40%;
    width: 200px;
  }
}

@media screen and (max-width: 767px) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 2.25rem;
  }

  h2 {
    font-size: 1.875rem;
  }

  h3 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1.125rem;
  }

  p {
    font-size: 1em;
  }

  .section {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .container {
    padding-right: 20px;
    padding-left: 20px;
  }

  .btn {
    padding-right: 2px;
    padding-left: 2px;
  }

  .btn.display-none-mob {
    display: none;
  }

  .row.row-split-content {
    grid-row-gap: 32px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .row.row-header {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .section-title {
    margin-bottom: 48px;
  }

  .btn-2 {
    padding: 8px 14px;
  }

  .btn-2:hover {
    border-color: #1757c2;
    background-color: #1757c2;
  }

  .display-2xl {
    font-size: 3rem;
  }

  .display-xl {
    font-size: 2.25rem;
  }

  .display-lg {
    font-size: 1.875rem;
  }

  .display-md {
    font-size: 1.5rem;
  }

  .display-sm {
    font-size: 1.25rem;
  }

  .display-xs {
    font-size: 1.125rem;
  }

  .text-xl {
    font-size: 1.125rem;
  }

  .text-xl.header-text {
    margin-bottom: 32px;
  }

  .navigation {
    height: 80px;
  }

  .logo.logo-footer {
    margin-bottom: 24px;
  }

  .logo.logo-footer.w--current {
    margin-bottom: 16px;
  }

  .footer {
    padding-top: 64px;
    padding-bottom: 40px;
  }

  .footer-top {
    margin-bottom: 32px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .line {
    min-width: 150px;
  }

  .line-wrap {
    left: 10%;
    bottom: -60%;
    width: 150px;
  }
}

@media screen and (max-width: 479px) {
  .container {
    padding-right: 24px;
  }

  .style-guide-title {
    margin-bottom: 24px;
    border-radius: 5px;
  }

  .btn-icon-r {
    margin-left: 4px;
  }

  .footer {
    padding-top: 48px;
  }
}

@font-face {
  font-family: 'Neue Haas Display';
  src: url('../fonts/NeueHaasDisplay-Mediu.woff') format('woff'), url('../fonts/NeueHaasDisplay-Mediu.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Neue Haas Display';
  src: url('../fonts/NeueHaasDisplay-Roman.woff') format('woff'), url('../fonts/NeueHaasDisplay-Roman.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}